# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Aula2-Pilha - Copia/build/
/Aula2-Pilha - Copia/nbproject/private/
/Aula4/build/
/Aula4/nbproject/private/
/Aula4-Busca/build/
/Aula4-Busca/nbproject/private/
/Aula4-Busca/Aula4-BuscaBinaria/nbproject/private/
/Aula4-Busca/Aula4-BuscaBinaria/build/
/Aula4-BuscaBinaria/build/